* {
  margin: 0;
  padding: 0%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3fbff;
}

.img-box {
  position: relative;
  width: 60%;
  margin: auto;
  line-height: 0;
  background-image: url(background_change_img/background_change_img/background.png);
  overflow: hidden;
  position: relative;
}

.img-warp {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

span {
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow {
  width: 40px;
  position: absolute;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;

}