:root {
  --primary-background-color : #fff;
  --primary-text-color: #959595;
  --body-background-color: #FCDC2A;
}


#dark-theme {
  --primary-background-color : #353535;
  --primary-text-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  height: 50px;
  background: var(--primary-background-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar h1{
  font-size: 24px;
}

.navbar span{
  background: var(--body-background-color);
  padding: 1px 2px;
  
}

.navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
   background: var(--primary-background-color);
} 

.home{
  width: 100%;
  height: 90vh;
  max-width: 1000px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  
}

.home h2{
  font-size: 6rem;
}

.home h3{
  font-size: 3rem;
  line-height: 0%;
}

.flex {
  display: flex ;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.home p{
  margin-top:200px ;
}

.home h2>span{
  color: var(--body-background-color);
  font-size: 10rem;
  background: #000000;
  padding: 5px 10px;
  box-shadow: 0px 3px 10px #616161;
  margin: 5px;
}

.Projects {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 20px 15px;
  background: var(--primary-background-color);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 8px;
  border-radius: 5px;
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset;
  border: #FCDC2A 8px solid;

  &:hover{
    cursor: pointer;
    scale: 1.2;
    transition: all 0.25s ease-in;
  }
}


.Projects:has(.cards:hover) .cards:not(:hover){
  scale: 0.9;
  opacity: 0.8;
  filter: blur(4px);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cards span{
  text-align: center;
  width: 100%;
  z-index: 2;
  padding: 5px 20px;
  background: #000000d8;
  color: #fff;
  font-size: 20px;
}

.container button {
  outline: 0;
  border: #FCDC2A solid 4px;
  box-shadow: 0px 0px 50px 0px #FCDC2A;
  padding: 10px 30px;
  background: #fff;
  color: #000000;
  font-size: 14px;
  border-radius: 40px;
  transition: all .5s;
  margin-bottom: 20px;

  &:hover{
    cursor: pointer;
    background-color: #FCDC2A;
    border-radius: 0px;
    scale: 1.2;
    box-shadow:none;
    transition: scale .25s , background-color .50s , border-radius .4s, box-shadow .2s;
  }
}


.contact {
  width: 100%;
  height: 20vh;
  max-width: 1000px;
  background: var(--primary-background-color);
  margin:auto;
}

.contact .info{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
}

.contact .info > ul {
  list-style: none;
}

