*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: #413000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right, #left {
  width: 300px;
  min-height: 400px;
  margin: 20px;
  border: 2px dashed #fff;
}