* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
  box-sizing: border-box;
}

body {
  background-color:#002339 ;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.display{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: none;
  outline: 0;
  font-size: 25px;
  flex: 1;

}