*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(./images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  position: relative;
}

.logo{
  width:120px ;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%) ;
  color: #fff;
}

.content h1 {
  font-size: 64px;
}