@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbc6fa;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  font-family: "Playfair Display", serif;
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.quote-box h2::after {
  content: '';
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}


.quote-box blockquote {
  font-size: 26px;
  min-height: 110px
}

.quote-box blockquote::before,.quote-box blockquote::after {
  content: '';
}

.quote-box span {
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.quote-box span::before{
  content: '';
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  right: 80px;
  bottom: 5px;

}


.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff ;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  
}