@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbc6fa;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  font-family: "Playfair Display", serif;
}

