* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
 width: 100%;
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,10,125,1) 100%);
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #fff;
}
   

.container h1{
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}

.container h1 span{
  color:#ff2963;
}

textarea{
  width: 600px;
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}


 textarea::placeholder {
  font-size: 15px;
  color: #ddd;
 }

 .row{
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
 }

 button{
  padding: 10px 30px;
  color: #fff;
  background: #ff2963;
  border-radius: 30px;
  border: 0;
  outline: 0;
 }

 .row select{
  

 }
