*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #250057;
}


.input-box {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
}

.input-box input{
  width: 100%;
  padding: 10px 0px;
  outline: 0;
  border: 0;
  font-size: 24px;
  font-weight: 400;
  color: #666;
}

.input-box img {
   width: 35px;
   cursor: pointer;
}