*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #250057;
}


.input-box {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
}

