*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #262a2f;
}

.container {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
}

.container p {
  font-weight:500;
  font-size: 18px;
  margin-bottom: 8px;
}

.container input {
  width: 100%;
  height: 50px;
  border:  1px solid #262a2f;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.container button {
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
  font-weight: 500;
}