* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
  background: #001e4d;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px ;
}