* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicPlayer {
  background:#ffffff;
  width: 400px;
  padding: 25px 35px;

}