* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.musicPlayer {
  background:#ffffff;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  margin-bottom:30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color:#f53192;
  box-shadow: 0 5px 10px rgba(255,26,26,0.22);
}

.songImg {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255,26,26,0.22)
}

.musicPlayer h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 30px;
}

.musicPlayer p {
  font-size: 14px;
  color: #333;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #f53192;
  cursor: pointer;
  margin: 40px 0;
  border-radius: 4px;
  outline: none;
  border:none;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #f53192;
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div i{
  padding: 22px;
}

.controls div:nth-child(2){
  transform: scale(1.2);
  background: #f53192;
  color: #fff;
}