*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#4203a9, #90bafc);
  padding: 10px;
  color: #fff;
}

.calculator{
  width: 100%;
  max-width: 500px;
  margin: 10%;
  margin-top: 10%;

}

.calculator h1 {
  font-size: 60px;
}

.calculator h1 span {
  color: #e0e312;
}

.input-box{
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
}