*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#4203a9, #90bafc);
  padding: 10px;
  color: #fff;
}

.calculator{
  width: 100%;
  max-width: 500px;
  margin: 10%;
  margin-top: 10%;

}

.calculator h1 {
  font-size: 60px;
}

.calculator h1 span {
  color: #e0e312;
}