* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image:url(images/background.png);
  background-position:center;
  background-size: cover;
  padding: 0 7%;
  color: #fff;
}

nav {
  width:100% ;
  padding: 20 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

nav ul {
  flex: 1;
}


nav ul li {
  display: inline-block;
  margin: 10px 20px ;
  ;
}