*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.buttons {
  margin: 40px 30px;
}

.buttons button {
  outline: 0;
  padding: 10px 25px;
  margin: 0 5px;
  border: 0;
  border-radius: 5px;
  background: #1f1f1f;
  color: #ffff;
  cursor: pointer;
}

#toastBox{
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast{
  width: 400px;
  height: 80px;
  background: #fff;
  color: #040404;
  display: flex;
  font-weight: 500;
  align-items: center;
  padding: 0 10px;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) ;
}


.error {
  background: red;
}

.disabled {
  background: orange;
}

.active {
  background: green;
}